vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|zh-cn
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|上一层
vti_timecreated:TR|18 Dec 2006 09:47:32 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|gb2312
vti_casesensitiveurls:IX|0
vti_ignorekeyboard:IR|1
vti_navbuttonnextlabel:SR|下一页
vti_extenderversion:SR|4.0.2.8912
vti_navbuttonprevlabel:SR|上一页
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_dependenciesood:IR|1
vti_approvallevels:VR|内容检查 合法检查 代码检查 经理评估
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_navbuttonhomelabel:SR|主页
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|旅行 费用报表 商务 竞争 目的/目标 主意 杂项 等待 VIP 处理中 计划 日程表
vti_insecureserverurl:SR|file://
