<?xml version="1.0" encoding="utf-8"?>
<menuRoot itemHeight="28" contextHelpId="100"
          sepSkin="TrayMenu_menu_sep"  itemSkin="TrayMenu_menu_bkgnd"
          font="face:微软雅黑,size:14" margin="1,1,1,1" colorBorder="#cccccc"
          maxWidth="166" minWidth="166" >
  <menuItem text="系统设置" id="100" />
  <menuItem text="快捷设置" />
  <menuItem text="隐藏状态" id="101"/>
  <menuItem text="光标跟随" id="102"/>
  <menuItem text="输出繁体" id="103"/>
  <sep/>
  <menuItem text="皮    肤" contextHelpId="2">
    <menuItem text="皮肤管理" id="201"/>
    <menuItem text="网上皮肤" id="202"/>
    <sep/>
    <menuItem text="内置皮肤" id="220"/>
  </menuItem>
  <menuItem text="启程词典" contextHelpId="3">
    <menuItem text="词典输入" id="301"/>
    <sep/>
    <menuItem text="关闭" id="302"/>
    <sep/>
  </menuItem>
  <menuItem text="编码方案" contextHelpId="4" popup="1"/>
  <menuItem text="形码混输" contextHelpId="5">
    <menuItem text="拼音:单字" id="501"/>
    <sep/>
    <menuItem text="拼音:二字词" id="502"/>
    <menuItem text="拼音:三字词" id="503"/>
    <menuItem text="拼音:多字词" id="504"/>
    <sep/>
    <menuItem text="自定义短语" id="505"/>
  </menuItem>
  <menuItem text="数据管理" contextHelpId="6">
    <menuItem text="后台运行指示" id="601"/>
    <sep/>
  </menuItem>
  <menuItem text="字 根 表" id="110"/>
  <menuItem text="打字速度" id="111"/>
  <sep/>
  <menuItem text="查看帮助" id="112"/>
</menuRoot>
